#s01 {
    width: 100%;
    height: 100%;
    margin-bottom: 150px;
    padding-top: 70px;
}

#s01 .s01-wrap {
    width: 100%;
}

#s01 .swiper-s01 {
    width: 100%;
}

#s01 .swiper-slide {
    text-align: center;
    width: 100%;
}

#s01 video {
    width: 100%;
    height: 100%;
}

#s02 {
    width: 100%;
    height: 340px;
    margin-bottom: 150px;
}

#s02 .products {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

#s02 .products .s02-title::before {
    content: url('../images/line.png');
    position: absolute;
    left: -30px;
    top: 0px;
    
}

#s02 .products .s02-title {
    position: absolute;
    top: 0;
    right: 0;
}

#s02 .products .s02-title h2 {
    font-family: 'scdream2', sans-serif;
    font-size: 2.3em;
    letter-spacing: -2px;
    color: #ffb10a;
    margin-bottom: 10px;
}

#s02 .products .s02-title p {
    font-family: 'scdream3', sans-serif;
    margin-bottom: 60px;
    font-size: 1.2em;
    line-height: 23px;
}

#s02 .products .s02-title span {
    font-family: 'scdream3', sans-serif;
}

#s02 .products .s02-content figure {
    height: 180px;
}

#s02 .products .s02-content figure img {
    width: 150px;
}

#s02 .products .s02-content p {
    font-family: 'scdream4', sans-serif;
    font-size: 1.2em;
    text-align: center;
}

#s02 .products .s02-content .s02-hover {
    display: none;
    background:rgba(255, 183, 27, 0.95);
    border-radius: 100%;
    width: 265px;
    height: 265px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

#s02 .products .s02-content .s02-hover p {
    font-family: 'scdream4', sans-serif;
    font-size: 1em;
    text-align: center;
    color: #fff;
    position: relative;
    top: 30%;
    line-height: 25px;
}

#s02 .products .s02-content .s02-hover span {
    font-family: 'scdream4', sans-serif;
    font-size: 1em;
    text-align: center;
    color: #fff;
    position: relative;
    top: 35%;
}

#s02 .products .s02-content:hover .s02-hover {
    display: block;
    animation: fade 0.5s ease-in;
}

#s02 .products .swiper-wrap {
    margin-right: 500px;
    position: relative;
}

#s02 .products .swiper-slide {
    text-align: center;
    width: 500px;
}

#s02 .products .swiper-container {
    width: 800px;
    height: 300px;
    padding: 0 30px;
}

#s03 {
    width: 100%;
    height: 862px;
    margin-bottom: 150px;
}

#s03 .event {
    width: 1100px;
    margin: 0 auto;
    height: auto;
    position: relative;
}

#s03 .event .s03-title::after {
    content: url('../images/line.png');
    position: absolute;
    left: 180px;
    top: 0px;
}

#s03 .event .s03-title h2 {
    font-family: 'scdream2', sans-serif;
    font-size: 2.3em;
    letter-spacing: -2px;
    color: #ffb10a;
    margin-bottom: 10px;
}

#s03 .event .s03-title p {
    font-family: 'scdream3', sans-serif;
    font-size: 1.2em;
    line-height: 23px;
    margin-bottom: 60px;    
}

#s03 .event .s03-title span {
    font-family: 'scdream3', sans-serif;
}

#s03 .event .s03-hover {
    display: none;
}

#s03 .event .s03-content {
    width: 860px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    right: 0;
}

#s03 .event .s03-content .event1 figure {
    padding-right: 20px;
    padding-bottom: 20px;
}

#s03 .event .s03-content .event2 figure {
    padding-right: 0;
    padding-bottom: 20px;
}

#s03 .event .s03-content .event3 figure {
    padding-right: 20px;
    padding-bottom: 0;
}

#s03 .event .s03-content .event4 figure {
    padding-right: 0;
    padding-bottom: 0;
}


#s03 .event .s03-content img {
    width: 420px;
}

#s04 {
    width: 100%;
    margin-bottom: 150px;
}

#s04 .store {
    width: 1100px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

#s04 .store .s04-title::before {
    content: url('../images/line.png');
    position: absolute;
    right: 160px;
    top: 0px;
}

#s04 .store .s04-title {
    position: absolute;
    right: 0;
}

#s04 .store .s04-title h2 {
    font-family: 'scdream2', sans-serif;
    font-size: 2.3em;
    letter-spacing: -2px;
    color: #ffb10a;
    margin-bottom: 10px;
}

#s04 .store .s04-title p {
    font-family: 'scdream3', sans-serif; 
    font-size: 1.2em;
    line-height: 23px;
}

#s04 .s04-content .search-box figure img {
    width: 850px;
}

#s04 .s04-content .search-bar {
    position: absolute;
    top: 50%;
    left: 23%;
}

#s04 .s04-content .search-bar input {
    font-family: 'scdream4', sans-serif;
    font-size: 1em;
    width: 300px;
    height: 50px;
    padding: 15px;
    border: none;
    background: #fff;
    color: #000;
}

#s04 .s04-content .search-bar button {
    float: right;
    width: 40px;
    height: 40px;
    border: none;
}

#s05 {
    width: 100%;
    margin-bottom: 150px;
}

#s05 .delivery {
    width: 1100px;
    margin: 0 auto;
    height: 493px;
    position: relative;
}

#s05 .delivery .s05-title::after {
    content: url('../images/line.png');
    position: absolute;
    left: 180px;
    top: 0px;
}

#s05 .delivery .s05-title h2 {
    font-family: 'scdream2', sans-serif;
    font-size: 2.3em;
    letter-spacing: -2px;
    color: #ffb10a;
    margin-bottom: 10px;
}

#s05 .delivery .s05-title p {
    font-family: 'scdream3', sans-serif; 
    font-size: 1.2em;
    line-height: 23px;
}

#s05 .s05-content figure {
    position: absolute;
    top: 0;
    right: 0;
}

#s05 .s05-content figure img {
    width: 850px;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

#s06 {
    width: 100%;
    margin-bottom: 150px;
}

#s06 .business {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

#s06 .business .s06-title::before {
    content: url('../images/line.png');
    position: absolute;
    right: 200px;
    top: 0px;
}

#s06 .business .s06-title {
    position: absolute;
    right: 0;
}

#s06 .business .s06-title h2 {
    font-family: 'scdream2', sans-serif;
    font-size: 2.3em;
    letter-spacing: -2px;
    color: #ffb10a;
    margin-bottom: 10px;
}

#s06 .business .s06-title p {
    font-family: 'scdream3', sans-serif; 
    font-size: 1.2em;
    line-height: 23px;
}

#s06 .s06-content {
    position: relative;
    display: flex;
    flex-direction: row;
}

#s06 .s06-content figure img {
    width: 390px;
}

#s06 .s06-content .recruit {
    margin-right: 50px;
}

#s06 .s06-content .recruit > p {
    font-family: 'scdream5', sans-serif;
    font-size: 1.5em;
    text-align: center;
    margin-top: 30px;
}

#s06 .s06-content .recruit-hover {
    display: none;
    width: 390px;
    height: 443px;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 25px;
    animation: fade .5s;
    cursor: pointer;
}

#s06 .s06-content .recruit-hover > p {
    font-family: 'scdream3', sans-serif;
    font-size: 1.2em;
    text-align: center;
    margin-top: 50%;
    line-height: 30px;
    color: #fff;
}

#s06 .s06-content .recruit:hover .recruit-hover {
    display: block;
}

#s06 .s06-content .open-store {
    position: relative;
}

#s06 .s06-content .open-store > p {
    font-family: 'scdream5', sans-serif;
    font-size: 1.5em;
    text-align: center;
    margin-top: 30px;
}

#s06 .s06-content .open-store > .open-hover {
    display: none;
    width: 390px;
    height: 443px;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 25px;
    animation: fade .5s;
    cursor: pointer;
}

#s06 .s06-content .open-hover > p {
    font-family: 'scdream3', sans-serif;
    font-size: 1.2em;
    text-align: center;
    margin-top: 50%;
    line-height: 30px;
    color: #fff;
}

#s06 .s06-content .open-store:hover .open-hover {
    display: block;
}

/* 미디어쿼리 */
@media all and (min-width: 1024px) and (max-width: 1300px)  {
    #s01 {
        width: 100%;
        margin-bottom: 80px;
    }

    #s01 .s01-wrap {
        max-width: 1300px;
    }

    #s02 {
        width: 100%;
        margin-bottom: 80px;
        height: 240px;
    }

    #s02 .products {
        max-width: 1300px;
        height: inherit;
    }

    #s02 .products .s02-title {
        position: unset;
    }

    #s02 .products .s02-title::before {
        display: none;
    }

    #s02 .products .s02-title p {
        display: none;
    }

    #s02 .products .s02-title span {
        display: none;
    }

    #s02 .products .s02-title {
        position: unset;
        text-align: center;
        margin-bottom: 30px;
    }

    #s02 .products .s02-content figure {
        height: 140px;
    }
    
    #s02 .products .s02-content figure img {
        width: 130px;
    }

    #s02 .products .s02-content .s02-hover {
        display: none;
        background:rgba(255, 183, 27, 0.95);
        border-radius: 100%;
        width: 220px;
        height: 220px;
        position: absolute;
        top: 0;
        left: 15px;
        cursor: pointer;
    }

    #s02 .products .s02-content .s02-hover p {
        font-size: 0.8em;
        top: 30%;
        line-height: 25px;
    }
    
    #s02 .products .s02-content .s02-hover span {
        font-size: 0.8em;
        top: 35%;
    }
    
    #s02 .products .swiper-wrap {
        margin-right: 0;
    }

    #s03 {
        max-width: 1300px;
        margin-bottom: 80px;
    }

    #s03 .event {
        width: 100%;
    }

    #s03 .event .s03-title {
        position: unset;
    }

    #s03 .event .s03-title::after {
        display: none;
    }

    #s03 .event .s03-title p {
        display: none;
    }

    #s03 .event .s03-title span {
        display: none;
    }

    #s03 .event .s03-title {
        position: unset;
        text-align: center;
        margin-bottom: 30px;
    }

    #s03 .event .s03-content {
        width: 720px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: unset;
    }
    
    #s03 .event .s03-content img {
        width: 350px;
    }

    #s04 {
        width: 100%;
        margin-bottom: 80px;
    }

    #s04 .store {
        max-width: 1300px;
    }

    #s04 .store .s04-title {
        position: unset;
    }

    #s04 .store .s04-title::before {
        display: none;
    }

    #s04 .store .s04-title p {
        display: none;
    }

    #s04 .store .s04-title span {
        display: none;
    }

    #s04 .store .s04-title {
        position: unset;
        text-align: center;
        margin-bottom: 30px;
    }

    #s04 .s04-content .search-box {
        text-align: center;
    }

    #s04 .s04-content .search-box figure img {
        width: 600px;
    }
    
    #s04 .s04-content .search-bar {
        left: 33%;
    }

    #s05 {
        width: 100%;
        margin-bottom: 80px;
    }

    #s05 .delivery {
        max-width: 1300px;
        height: 100%;
    }

    #s05 .delivery .s05-title {
        position: unset;
    }

    #s05 .delivery .s05-title::after {
        display: none;
    }

    #s05 .delivery .s05-title p {
        display: none;
    }

    #s05 .delivery .s05-title span {
        display: none;
    }

    #s05 .delivery .s05-title {
        position: unset;
        text-align: center;
        margin-bottom: 30px;
    }

    #s05 .s05-content figure {
        position: unset;
        text-align: center;
    }
    
    #s05 .s05-content figure img {
        width: 600px;
    }
    
    #s06 {
        margin-bottom: 80px;
    }

    #s06 .business {
        max-width: 1300px;
    }

    #s06 .business .s06-title {
        position: unset;
    }

    #s06 .business .s06-title::before {
        display: none;
    }

    #s06 .business .s06-title p {
        display: none;
    }

    #s06 .business .s06-title span {
        display: none;
    }

    #s06 .business .s06-title {
        position: unset;
        text-align: center;
        margin-bottom: 30px;
    }

    #s06 .s06-content {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    #s06 .s06-content .recruit {
        margin-right: 40px;
    }

    #s06 .s06-content figure img {
        width: 300px;
    }
    
    #s06 .s06-content .recruit > p {
        font-family: 'scdream5', sans-serif;
        font-size: 1.3em;
        text-align: center;
        margin-top: 20px;
    }

    #s06 .s06-content .open-store > p {
        font-family: 'scdream5', sans-serif;
        font-size: 1.3em;
        text-align: center;
        margin-top: 20px;
    }

    #s06 .s06-content .recruit-hover {
        display: none;
        width: 300px;
        height: 340px;
        position: absolute;
        top: 0;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 20px;
        animation: fade .5s;
    }

    #s06 .s06-content .open-store > .open-hover {
        display: none;
        width: 300px;
        height: 340px;
        position: absolute;
        top: 0;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 20px;
        animation: fade .5s;
    }
    
    #s06 .s06-content .recruit:hover .recruit-hover {
        display: block;
    }
} 

@media all and (min-width: 768px) and (max-width: 1023px) {
    #s01 {
        width: 100%;
        margin-bottom: 80px;
    }

    #s01 .s01-wrap {
        width: 100%;
    }

    #s02 {
        width: 100%;
        margin-bottom: 80px;
        height: 240px;
    }

    #s02 .products {
        max-width: 1023px;
        margin: 0 auto;
        height: auto;
    }

    #s02 .products .s02-title {
        position: unset;
    }

    #s02 .products .s02-title::before {
        display: none;
    }

    #s02 .products .s02-title p {
        display: none;
    }

    #s02 .products .s02-title span {
        display: none;
    }

    #s02 .products .s02-title {
        position: unset;
        text-align: center;
        margin-bottom: 30px;
    }

    #s02 .products .s02-content figure {
        height: 140px;
    }
    
    #s02 .products .s02-content figure img {
        width: 130px;
    }

    #s02 .products .s02-content .s02-hover {
        display: none;
        background:rgba(255, 183, 27, 0.95);
        border-radius: 100%;
        width: 200px;
        height: 200px;
        position: absolute;
        top: 0;
        left: 35px;
        cursor: pointer;
    }

    #s02 .products .s02-content .s02-hover span {
        font-size: 1.2em;
        top: 45%;
    }

    #s02 .products .s02-content .s02-hover p {
        display: none;
    }
    
    #s02 .products .swiper-wrap {
        margin-right: 0;
    }

    #s02 .products .swiper-container {
        width: 800px;
        height: 300px;
        padding: 0 30px;
    }

    #s03 {
        width: 100%;
        margin-bottom: 80px;
    }

    #s03 .event {
        max-width: 1023px;
    }

    #s03 .event .s03-title {
        position: unset;
    }

    #s03 .event .s03-title::after {
        display: none;
    }

    #s03 .event .s03-title p {
        display: none;
    }

    #s03 .event .s03-title span {
        display: none;
    }

    #s03 .event .s03-title {
        position: unset;
        text-align: center;
        margin-bottom: 30px;
    }

    #s03 .event .s03-content {
        width: 720px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: unset;
    }
    
    #s03 .event .s03-content img {
        width: 350px;
    }

    #s04 {
        width: 100%;
        margin-bottom: 80px;
    }

    #s04 .store {
        max-width: 1023px;
    }

    #s04 .store .s04-title {
        position: unset;
    }

    #s04 .store .s04-title::before {
        display: none;
    }

    #s04 .store .s04-title p {
        display: none;
    }

    #s04 .store .s04-title span {
        display: none;
    }

    #s04 .store .s04-title {
        position: unset;
        text-align: center;
        margin-bottom: 30px;
    }

    #s04 .s04-content .search-box {
        text-align: center;
    }

    #s04 .s04-content .search-box figure img {
        width: 600px;
    }
    
    #s04 .s04-content .search-bar {
        left: 33%;
    }

    #s05 {
        width: 100%;
        margin-bottom: 80px;
    }

    #s05 .delivery {
        max-width: 1023px;
        height: 100%;
    }

    #s05 .delivery .s05-title {
        position: unset;
    }

    #s05 .delivery .s05-title::after {
        display: none;
    }

    #s05 .delivery .s05-title p {
        display: none;
    }

    #s05 .delivery .s05-title span {
        display: none;
    }

    #s05 .delivery .s05-title {
        position: unset;
        text-align: center;
        margin-bottom: 30px;
    }

    #s05 .s05-content figure {
        position: unset;
        text-align: center;
    }
    
    #s05 .s05-content figure img {
        width: 600px;
    }
    
    #s06 {
        margin-bottom: 80px;
    }

    #s06 .business {
        max-width: 1023px;
    }

    #s06 .business .s06-title {
        position: unset;
    }

    #s06 .business .s06-title::before {
        display: none;
    }

    #s06 .business .s06-title p {
        display: none;
    }

    #s06 .business .s06-title span {
        display: none;
    }

    #s06 .business .s06-title {
        position: unset;
        text-align: center;
        margin-bottom: 30px;
    }

    #s06 .s06-content {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    #s06 .s06-content .recruit {
        margin-right: 40px;
    }

    #s06 .s06-content figure img {
        width: 300px;
    }
    
    #s06 .s06-content .recruit > p {
        font-family: 'scdream5', sans-serif;
        font-size: 1.3em;
        text-align: center;
        margin-top: 20px;
    }

    #s06 .s06-content .open-store > p {
        font-family: 'scdream5', sans-serif;
        font-size: 1.3em;
        text-align: center;
        margin-top: 20px;
    }

    #s06 .s06-content .recruit-hover {
        display: none;
        width: 300px;
        height: 340px;
        position: absolute;
        top: 0;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 20px;
        animation: fade .5s;
    }

    #s06 .s06-content .open-store > .open-hover {
        display: none;
        width: 300px;
        height: 340px;
        position: absolute;
        top: 0;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 20px;
        animation: fade .5s;
    }
    
    #s06 .s06-content .recruit:hover .recruit-hover {
        display: block;
    }
} 

@media all and (min-width: 480px) and (max-width: 767px) {
    #s01 {
        width: 100%;
        margin-bottom: 80px;
    }

    #s01 .s01-wrap {
        max-width: 767px;
    }

    #s02 {
        width: 100%;
        margin-bottom: 80px;
        height: 240px;
    }

    #s02 .products {
        max-width: 767px;
    }

    #s02 .products .s02-title::before {
        display: none;
    }

    #s02 .products .s02-title p {
        display: none;
    }

    #s02 .products .s02-title span {
        display: none;
    }

    #s02 .products .s02-title {
        position: unset;
        text-align: center;
        margin-bottom: 30px;
    }

    #s02 .products .s02-content figure {
        height: 120px;
    }
    
    #s02 .products .s02-content figure img {
        width: 100px;
    }

    #s02 .products .s02-content p {
        font-family: 'scdream4', sans-serif;
        font-size: 0.7em;
        text-align: center;
    }
    
    #s02 .products .s02-content .s02-hover p {
        display: none;
    }

    #s02 .products .s02-content:hover .s02-hover {
        display: none;
    }
    
    #s02 .products .s02-content .s02-hover span {
        font-family: 'scdream4', sans-serif;
        font-size: 1em;
        text-align: center;
        color: #fff;
        position: relative;
        top: 45%;
    }

    #s02 .products .swiper-wrap {
        margin-right: 0;
    }

    #s02 .products .swiper-container {
        width: 550px;
        height: 300px;
        padding: 0 30px;
    }

    #s03 {
        width: 100%;
        margin-bottom: 80px;
    }

    #s03 .event {
        max-width: 767px;
    }

    #s03 .event .s03-title::after {
        display: none;
    }

    #s03 .event .s03-title p {
        display: none;
    }

    #s03 .event .s03-title span {
        display: none;
    }

    #s03 .event .s03-title {
        position: unset;
        text-align: center;
        margin-bottom: 30px;
    }

    #s03 .event .s03-content {
        width: 720px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: unset;
    }
    
    #s03 .event .s03-content img {
        width: 350px;
    }

    #s04 {
        width: 100%;
        margin-bottom: 80px;
    }

    #s04 .store {
        max-width: 767px;
    }

    #s04 .store .s04-title::before {
        display: none;
    }

    #s04 .store .s04-title p {
        display: none;
    }

    #s04 .store .s04-title span {
        display: none;
    }

    #s04 .store .s04-title {
        position: unset;
        text-align: center;
        margin-bottom: 30px;
    }

    #s04 .s04-content .search-box {
        text-align: center;
    }

    #s04 .s04-content .search-box figure img {
        width: 600px;
    }
    
    #s04 .s04-content .search-bar {
        left: 33%;
    }

    #s05 {
        width: 100%;
        margin-bottom: 80px;
    }

    #s05 .delivery {
        max-width: 767px;
        height: 100%;
    }

    #s05 .delivery .s05-title::after {
        display: none;
    }

    #s05 .delivery .s05-title p {
        display: none;
    }

    #s05 .delivery .s05-title span {
        display: none;
    }

    #s05 .delivery .s05-title {
        position: unset;
        text-align: center;
        margin-bottom: 30px;
    }

    #s05 .s05-content figure {
        position: unset;
        text-align: center;
    }
    
    #s05 .s05-content figure img {
        width: 600px;
    }
    
    #s06 {
        margin-bottom: 80px;
    }

    #s06 .business {
        max-width: 767px;
    }

    #s06 .business .s06-title {
        position: unset;
    }

    #s06 .business .s06-title::before {
        display: none;
    }

    #s06 .business .s06-title p {
        display: none;
    }

    #s06 .business .s06-title span {
        display: none;
    }

    #s06 .business .s06-title {
        position: unset;
        text-align: center;
        margin-bottom: 30px;
    }

    #s06 .s06-content {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    #s06 .s06-content .recruit {
        margin-right: 40px;
    }

    #s06 .s06-content figure img {
        width: 300px;
    }
    
    #s06 .s06-content .recruit > p {
        font-family: 'scdream5', sans-serif;
        font-size: 1.3em;
        text-align: center;
        margin-top: 20px;
    }

    #s06 .s06-content .open-store > p {
        font-family: 'scdream5', sans-serif;
        font-size: 1.3em;
        text-align: center;
        margin-top: 20px;
    }

    #s06 .s06-content .recruit-hover {
        display: none;
        width: 300px;
        height: 340px;
        position: absolute;
        top: 0;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 20px;
        animation: fade .5s;
    }

    #s06 .s06-content .open-store > .open-hover {
        display: none;
        width: 300px;
        height: 340px;
        position: absolute;
        top: 0;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 20px;
        animation: fade .5s;
    }
    
    #s06 .s06-content .recruit:hover .recruit-hover {
        display: block;
    }
}
@media all and (max-width: 479px) {
    #s01 {
        width: 100%;
        margin-bottom: 80px;
    }

    #s01 .s01-wrap {
        max-width: 479px;
    }

    #s02 {
        width: 100%;
        margin-bottom: 80px;
        height: 240px;
    }

    #s02 .products {
        max-width: 479px;
    }

    #s02 .products .s02-title::before {
        display: none;
    }

    #s02 .products .s02-title p {
        display: none;
    }

    #s02 .products .s02-title span {
        display: none;
    }

    #s02 .products .s02-title {
        position: unset;
        text-align: center;
        margin-bottom: 30px;
    }

    #s02 .products .s02-content figure {
        height: 120px;
    }
    
    #s02 .products .s02-content figure img {
        width: 100px;
    }

    #s02 .products .s02-content p {
        font-family: 'scdream4', sans-serif;
        font-size: 0.7em;
        text-align: center;
    }
    
    #s02 .products .s02-content .s02-hover p {
        display: none;
    }

    #s02 .products .s02-content:hover .s02-hover {
        display: none;
    }
    
    #s02 .products .s02-content .s02-hover span {
        font-family: 'scdream4', sans-serif;
        font-size: 1em;
        text-align: center;
        color: #fff;
        position: relative;
        top: 45%;
    }

    #s02 .products .swiper-wrap {
        margin-right: 0;
    }

    #s02 .products .swiper-container {
        width: 550px;
        height: 300px;
        padding: 0 30px;
    }

    #s03 {
        width: 100%;
        margin-bottom: 80px;
    }

    #s03 .event {
        max-width: 479px;
    }

    #s03 .event .s03-title::after {
        display: none;
    }

    #s03 .event .s03-title p {
        display: none;
    }

    #s03 .event .s03-title span {
        display: none;
    }

    #s03 .event .s03-title {
        position: unset;
        text-align: center;
        margin-bottom: 30px;
    }

    #s03 .event .s03-content {
        width: 720px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: unset;
    }
    
    #s03 .event .s03-content img {
        width: 350px;
    }

    #s04 {
        width: 100%;
        margin-bottom: 80px;
    }

    #s04 .store {
        max-width: 479px;
    }

    #s04 .store .s04-title::before {
        display: none;
    }

    #s04 .store .s04-title p {
        display: none;
    }

    #s04 .store .s04-title span {
        display: none;
    }

    #s04 .store .s04-title {
        position: unset;
        text-align: center;
        margin-bottom: 30px;
    }

    #s04 .s04-content .search-box {
        text-align: center;
    }

    #s04 .s04-content .search-box figure img {
        width: 600px;
    }
    
    #s04 .s04-content .search-bar {
        left: 33%;
    }

    #s05 {
        width: 100%;
        margin-bottom: 80px;
    }

    #s05 .delivery {
        max-width: 479px;
        height: 100%;
    }

    #s05 .delivery .s05-title::after {
        display: none;
    }

    #s05 .delivery .s05-title p {
        display: none;
    }

    #s05 .delivery .s05-title span {
        display: none;
    }

    #s05 .delivery .s05-title {
        position: unset;
        text-align: center;
        margin-bottom: 30px;
    }

    #s05 .s05-content figure {
        position: unset;
        text-align: center;
    }
    
    #s05 .s05-content figure img {
        width: 600px;
    }
    
    #s06 {
        margin-bottom: 80px;
    }

    #s06 .business {
        max-width: 479px;
    }

    #s06 .business .s06-title {
        position: unset;
    }

    #s06 .business .s06-title::before {
        display: none;
    }

    #s06 .business .s06-title p {
        display: none;
    }

    #s06 .business .s06-title span {
        display: none;
    }

    #s06 .business .s06-title {
        position: unset;
        text-align: center;
        margin-bottom: 30px;
    }

    #s06 .s06-content {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    #s06 .s06-content .recruit {
        margin-right: 40px;
    }

    #s06 .s06-content figure img {
        width: 300px;
    }
    
    #s06 .s06-content .recruit > p {
        font-family: 'scdream5', sans-serif;
        font-size: 1.3em;
        text-align: center;
        margin-top: 20px;
    }

    #s06 .s06-content .open-store > p {
        font-family: 'scdream5', sans-serif;
        font-size: 1.3em;
        text-align: center;
        margin-top: 20px;
    }

    #s06 .s06-content .recruit-hover {
        display: none;
        width: 300px;
        height: 340px;
        position: absolute;
        top: 0;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 20px;
        animation: fade .5s;
    }

    #s06 .s06-content .open-store > .open-hover {
        display: none;
        width: 300px;
        height: 340px;
        position: absolute;
        top: 0;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 20px;
        animation: fade .5s;
    }
    
    #s06 .s06-content .recruit:hover .recruit-hover {
        display: block;
    }
}